
<div class="wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading">Sign up</h2>

    <div class="field">
      <%= f.label :username, class:"form-group" %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :mobile, class:"form-group" %><br />
      <%= f.text_field :mobile, autofocus: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :gender_id , class:"mr-sm-2" %><br />
      <%= f.collection_select :gender_id, Gender.all, :id, :name, {prompt: "Select Category"}, {class:"form-control selectpicker"} %>
    </div>

    <div class="field">
      <%= f.label :dob, class:"form-group" %><br />
      <%= f.date_field :dob, autofocus: true, class: "form-control"  %>
    </div>


    <div class="field">
      <%= f.label :email, class:"form-group" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :password, class:"form-group" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="field", class:"form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
    </div><br/>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>

<%#= render "devise/shared/links" %>
